@page "/"

<PageTitle>Home</PageTitle>

<h1>SpawnDev.BlazorJS.IndexRouting</h1>

<p>
    SpawnDev.BlazorJS.IndexRouting contains IndexRouter, an alternative Route component for Blazor WebAssembly that routes all pages to `index.html` with the page route stored as a query parameter. This allows hosting methods that do not provide error page redirection, which can cause issues with client-side routing.
</p>
